<div class="subsection-page">
  <div class="subsection-card">
    <div class="card-title">Nova Métrica</div>
    <div class="card-subtitle">
      Preencha os dados para alimentar o dashboard.
    </div>

    <%= render "form" %>
  </div>
</div>