<h1><%= @report_page.title %></h1>

<% file =
  if current_user.client?
    @report_page.external_file
  else
    @report_page.internal_file
  end
%>

<% if file.attached? %>
  <iframe src="<%= rails_blob_path(file, disposition: "inline") %>" width="100%" height="800"></iframe>
<% else %>
  <p>Sem PDF disponível</p>
<% end %>

<br>
<%= link_to "Voltar", dashboard_path %>